@using TintApp.ViewModels
@model CategoryWithItemsVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Details";
    int sl = 1;
}

<div class="">
    <h2>Category: @Model.Category.CategoryName</h2>
</div>
<div class="text-end mb-2">
    <a asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>

</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>SL</th>
            <th>Service Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@(sl++)</td>
                <td>@item.ItemName</td>
                <td>@item.Price</td>
                <td>
                    @if (item.Images != null && item.Images.Any())
                    {
                        foreach (var img in item.Images)
                        {
                            <img src="@img.ImageUrl" width="80" class="m-1" />
                        }
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="ServiceItem" asp-route-id="@item.Id" class="btn btn-sm btn-danger" onclick="return confirm('Delete this Item?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

